@tailwind base;
@tailwind components;
@tailwind utilities;




.loading {
  animation: loading 1s ease-out infinite alternate;
  background: linear-gradient(to right, #c6b5b5, #ffffff);
  background-size: 200% 100%;
}

.loadingbig {
  animation: loading 1s ease-out infinite alternate;
  background: linear-gradient(to right, #c6b5b5, #ffffff);
  background-size: 200% 100%;
}

@keyframes loading {
  0% {
      background-position: 0 0;
      opacity: 50%;
  }
  100% {
      background-position: 100% 0;
      opacity: 80%;
  }
}

.action-popup{
  display: none;
}

.hover-item:hover > .action-popup{
  display: block;
}

/* foir hide scrollbar  */
.custom-scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar-hidden {
  scrollbar-width: none;
}